@import "tailwindcss";

html {
  background-color: #d5e0f5;
}

.long-dashed {
  border-top: 2px dashed #d4d8e2;
  border-image: repeating-linear-gradient(
      to right,
      #d4d8e2 0px,
      #d4d8e2 14px,
      transparent 14px,
      transparent 24px
    )
    1;
}
